{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>IMDevB-Home Page</title>

    <!-- Bootstrap core CSS -->
    <link href={% static 'blog/bootstrap.min.css' %} rel="stylesheet">

    <link rel="stylesheet" href={% static "blog/fontawesome.css" %}>
    <link rel="stylesheet" href={% static "blog/templatemo-sixteen.css" %}>
    <link rel="stylesheet" href={% static "blog/owl.css" %}>

<style>

.contact-heading {
	background-image: url(/static/blog/detail.jpg);
}
      .card {
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px
}

.dots {
    height: 4px;
    width: 4px;
    margin-bottom: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}

.badge {
    padding: 7px;
    padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #e9ecef
}

.user-img {
    margin-top: 4px
}

.check-icon {
    font-size: 17px;
    color: #c3bfbf;
    top: 1px;
    position: relative;
    margin-left: 3px
}

.form-check-input {
    margin-top: 6px;
    margin-left: -24px !important;
    cursor: pointer
}

.form-check-input:focus {
    box-shadow: none
}

.icons i {
    margin-left: 8px
}

.reply {
    margin-left: 12px
}

.reply small {
    color: #b7b4b4
}

.reply small:hover {
    color: green;
    cursor: pointer
}
    </style>


  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2><em> IMDevB</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="products.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">Contribute</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="contact.html">Profile</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class="page-heading contact-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4></h4>
              <h2>Review my Project</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="find-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>{{object.title}}</h2>
            </div>
          </div>
          <div class="col-md-8">

            <div id="map">
              <image src='{{object.image.url}}' width="100%" height="330px" frameborder="0" style="border:0" allowfullscreen></image>
            </div>
          </div>
          <div class="col-md-4">
            <div class="left-content">
              <h4>{{ object.author }}</h4>
              <p>{{ post.content }}</p>
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-github"></i></a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="send-message">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Reviews & Suggestions</h2>
            </div>
          </div>
          <div class="col-lg-12">
            <fieldset>
              <a href="{% url 'review' post.id %}">Post Review</button></a>
            </fieldset>
          </div>
          <div class="col-rg-12">
              <form action="{% url 'Upvote_post' post.pk %}" method = "POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary" name='post_id' value="{{post.id}}">Upvote</button>
              </form>
          </div>
          <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="headings d-flex justify-content-between align-items-center mb-3">
                        <h5>Unread comments(6)</h5>
                        <div class="buttons"> <span class="badge bg-white d-flex flex-row align-items-center"> <span class="text-primary">Comments "ON"</span>
                                <div class="form-check form-switch"> <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked> </div>
                            </span> </div>
                    </div>
                    {% if not post.ratings.all %}
                        NO rating yet...
                    {% else %}
                        {% for rating in post.ratings.all %}
                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="user d-flex flex-row align-items-center"> <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">{{ rating.user}}</small> <small class="font-weight-bold">{{rating.comment}}</small></span> </div> <small>{{rating.timestamp}}</small>
                        </div>
                        <div class="action d-flex justify-content-between mt-2 align-items-center">
                            <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                            <div class="icons align-items-center"> <i class="fa fa-star text-warning"></i> <i class="fa fa-check-circle-o check-icon"></i> </div>
                        </div>
                    </div>
                        {% endfor %}
                    {% endif %}
                        
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        
          <!-- Bootstrap core JavaScript -->
          <script src={% static "blog/jquery.min.js" %}></script>
          <script src={% static "blog/bootstrap.bundle.min.js" %}></script>
      
      
          <!-- Additional Scripts -->
          <script src={% static "blog/custom.js" %}></script>
          <script src={% static "blog/owl.js" %}></script>
          <script src={% static "blog/slick.js" %}></script>
          <script src={% static "blog/isotope.js" %}></script>
          <script src={% static "blog/accordions.js" %}></script>
      
      
          <script language = "text/Javascript"> 
            cleared[0] = cleared[1] = cleared[2] = 0; 
            function clearField(t){                   
            if(! cleared[t.id]){                      
                cleared[t.id] = 1;  
                t.value='';         
                t.style.color='#fff';
                }
            }
          </script>    

  </body>

</html>
