{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href={% static "users/RegisterPageStyle.css" %}>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <nav id="navigation">
        <ul id="list">
            <li class="option"><a href="">Contact</a></li>
            <li class="option"><a href="#">About Us</a></li>
            <li class="option"><a href={% url "login" %}>Login</a></li>
            <li>{{ form.errors }}</li>
        </ul>
    </nav>
    
    <main id="MainCenter">
        <h1 class="LoginTitle">Register</h1>
        <form method ="POST" action="">
            {% csrf_token %}
            <div id="UsernameBox">
                <span><i class="fas fa-user" ></i></span>
                {{ form.username }}
            </div>
            <div id="EmailBox">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                {{  form.email }}
            </div>
            <div id="PasswordBox">
                <i class="fa fa-lock" aria-hidden="true"></i>
                {{ form.password1 }}
            </div>
            <div id="PasswordBox">
                <i class="fa fa-lock" aria-hidden="true"></i>
                {{ form.password2 }}
                
            </div>
            <div>
                <input type="submit" id="btn" value="CREATE ACCOUNT">
            </div>
        </form>
        
        <ul class="extras">
            <li>Already Have an Account? </li>
            <li id="CreateAccount"><a href="">Login</a></li>
        </ul>
        <div class="footerbar">
            <ul id="leftthings">
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms of Use</a></li>
                <li id="copyright">&#169; 2021 Key.All Rights Reserved</li>
        </div>
    </main>
</body>
<div class="alert alert-primary" role="alert">
    
  </div>
</html>


<script>
    var form_fields=document.getElementsByTagName('input')
    form_fields[1].placeholder='Username'
    form_fields[2].placeholder='E-Mail'
    form_fields[3].placeholder='Password'
    form_fields[4].placeholder='Password Confirmation'



</script>